---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="the about page for wornock wood">
  <h1>About Us</h1>

  <p>
    Warnock Cabinetry started with a desire to make unique and impactful
    furnishings. From there, we expanded to custom closets, built-in cabinetry
    and now offer complete kitchen remodeling. Our pieces are meant to be an
    integral part of your daily living experience—something to appreciate and
    enrich your space. In every aspect, we proudly carry the essence of the
    Gatineau hills in our custom cabinetry.
  </p>
</Layout>
