---
import Layout from "../layouts/Layout.astro";
import { getAllAboutUs } from "../lib/api";
// import { Image } from "@unpic/astro";
import { urlForImage } from "../lib/urlForImage";
import { Image } from "@unpic/astro";
const about = await getAllAboutUs();
const backgrnd = about[0].image;
const lightcolor = "#f2f2f2";
---

<script type="module">
  ScrollReveal({ distance: "60px" });
  ScrollReveal().reveal(".about-text", { delay: 200, origin: "bottom" });
</script>

<Layout>
  <div class="container">
    <Image
      src={urlForImage(backgrnd).url()}
      class="bckgrnd-about-img"
      alt="about-image"
      placeholder="blurhash"
      layout="fullWidth"
      width={1000}
      height={800}
      priority
    />

    <h1 class="about-title">
      {about[0].subtitle}
    </h1>

    <p class="about-text body-text">
      {about[0].body[0].children[0].text}
    </p>
  </div>
</Layout>

<style define:vars={{ lightcolor }}>
  .container {
    padding-top: 2rem;
  }
  .bckgrnd-about-img {
    z-index: -4;
    position: absolute;
    width: 100%;
    max-height: 80%;
    overflow: hidden;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0.3;
  }

  .about-title {
    color: var(--lightcolor);
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
    padding-top:5rem;
  }

  @media screen and (max-width: 500px) {
    .about-title {
      font-size: 2.5rem;
      margin-bottom:-1rem;
      margin-top:0;
    }
  }

  .about-text {
    color: var(--lightcolor);
    max-width: 40rem;
    padding-left:2rem;
    padding-right:2rem;
    margin: 0 auto;
  }
</style>
