---
import Layout from "../layouts/Layout.astro";
import { getAllAboutUs } from "../lib/api";

const about = await getAllAboutUs();
const lightcolor = "#f2f2f2";

console.log(about);
---

<Layout>
  <h1 class="about-title">
    {about[0].subtitle}
  </h1>

  <p class="about-text">
    {about[0].body[0].children[0].text}
  </p>
</Layout>

<style define:vars={{ lightcolor }}>
  .about-title {
    color: var(--lightcolor);
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
  }

  .about-text {
    font-size: 1.4rem;
    color: var(--lightcolor);
    max-width: 30rem;
    padding: 2rem;
  }
</style>
