---
const { title } = Astro.props;
const webTitle = "Wornock Cabinetry";
import { Image } from "astro:assets";
import warnockLogo from "../local-images/warnock-logo.svg";
---

<style>
  .footer {
    display: flex;
    margin-top:1rem
    width:100%;
    height:4rem;
    gap: 1rem;
    background-color: #1f1f1f;
    justify-content: center;
    align-items: center;
  }
</style>

<footer class="footer">
  <p>
    Made with ❤️ by {webTitle}
    <a class="link">
      <img
        src="../local-images/warnock-logo.svg"
        alt="warnock cabinetry logo"
      />
    </a>
  </p>
  <Image src={warnockLogo} alt="warnock cabinetry logo" />
</footer>
