---
import Image from "astro/components/Image.astro";
import headerLogo from "../local-images/header-logo.svg";
---

<header>
  <ul class="heading-menu">
    <Image src={headerLogo} alt="header-logo" class="header-logo"/>

    <li><a class="header-menu-item" href="/">Home</a></li>
    <li><a class="header-menu-item" href="/gallery/">Gallery</a></li>
    <li><a class="header-menu-item" href="/contact/">Contact</a></li>
    <li><a class="header-menu-item" href="/about/">Aboout</a></li>
  </ul>
</header>

<style>
  header {
    padding: 0;
  }

  li{
    list-style: none;
  }

  .heading-menu {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 5rem;
    margin-top: 0.5rem;
    width: 100%;
    background-color: #f2f2f2;
  }

  .header-logo {
     justify-self: flex-start;
     margin-right:3rem;
  }


  .header-menu-item {
    text-decoration: none;
    list-style: none !important;
  }


  @media screen and (max-width: 700px) {
    .heading-menu {
      flex-direction:column;
      height:100%;
      display:none;
      align-items: center;
      justify-content: center;
    }
  }
</style>
