---
import Image from "astro/components/Image.astro";
import headerLogo from "../local-images/header-logo.svg";
---

<header>
  <nav role="navigation" aria-label="Main menu" class="heading-menu-nav">
    <span id="nav-label" hidden>Navigation</span>
    <button
      id="btnOpen"
      aria-expanded="false"
      class="hamburger-menu open"
      aria-labelled="nav-label"
    >
      <svg
        width="40"
        height="24"
        viewBox="0 0 40 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect id="Rectangle_1" width="40" height="4" fill="#FFFFFF"></rect>
        <rect id="Rectangle_2" y="10" width="40" height="4" fill="#FFFFFF"
        ></rect>
        <rect id="Rectangle_3" y="20" width="40" height="4" fill="#FFFFFF"
        ></rect>
      </svg>
      <p class="menu-label">Menu</p>
    </button>

    <ul class="heading-menu">
      <div class="menu-container" role="dialog" ariab-labelledby="nav-label">
        <button
          id="btnClose"
          aria-expanded="true"
          class="hamburger-menu close"
          aria-label="Close"
        >
          <svg
            width="28"
            height="27"
            viewBox="0 0 28 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="3.10049"
              y1="2.27207"
              x2="25.7279"
              y2="24.8995"
              stroke="white"
              stroke-width="4"></line>
            <line
              x1="2.27207"
              y1="24.8995"
              x2="24.8995"
              y2="2.27209"
              stroke="white"
              stroke-width="4"></line>
          </svg>
          <p class="menu-label">Close</p>
        </button>
      </div>
      <Image src={headerLogo} alt="header-logo" class="header-logo" />
      <li><a class="header-menu-item" href="/" data-astro-prefetch>Home</a></li>
      <li>
        <a class="header-menu-item" href="/gallery/" data-astro-prefetch
          >Gallery</a
        >
      </li>
      <li>
        <a class="header-menu-item" href="/contact/" data-astro-prefetch
          >Contact</a
        >
      </li>
      <li>
        <a class="header-menu-item" href="/about/" data-astro-prefetch>About</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .hamburger-menu {
    display: none;
  }

  .line {
    display: none;
  }

  header {
    padding: 0;
  }

  li {
    list-style: none;
  }

  .heading-menu-nav {
  }

  .heading-menu {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    height: 6rem;
    margin-top: -0.5rem;
    width: 100%;
    background-color: #ffffff;
    color:black;
    position: absolute;
    z-index: 10;
  }

  .header-logo {
    justify-self: flex-start;
    margin-right: 3rem;
  }

  .header-menu-item {
    text-decoration: none;
    list-style: none !important;
    color:black;
    font-size: 1.3rem;
  }

  @media screen and (max-width: 700px) {
    .header-logo {
      display: none;
    }
    .heading-menu {
      flex-direction: column;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: 0.4s ease-in;
      translate: -100vw;
      transition: translate 0.5s ease-in-out;
      z-index: 90;
    }
    #btnOpen[aria-expanded="true"] {
      + .heading-menu {
        translate: 0;
      }
    }

    #btnClose[aria-expanded="false"] {
      + .heading-menu {
        translate: 100vw;
      }
    }
    .hamburger-menu {
      border-radius: 50%;
      border: none;
      padding: 0;
      background: #c6c6c6;
      z-index: 50;
      height: 5rem;
      width: 5rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    .open {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .close {
      position: absolute;
      align-self: flex-end;
      top: 20px;
      right: 20px;
    }

    .menu-label {
      position: absolute;
      bottom: -10px;
    }

    /* hamburger menu */
    svg {
    }

    .heading-menu__open {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: 0.15s ease-in-out;
    }

    .header-menu-item {
      font-size: 2.5rem;
    }
  }
</style>

<script>
  const btnOpen = document.querySelector("#btnOpen");
  const btnClose = document.querySelector("#btnClose");

  function openMobileMenu() {
    btnOpen.setAttribute("aria-expanded", "true");
  }
  function closeMobileMenu() {
    btnOpen.setAttribute("aria-expanded", "false");
    console.log("checking closeMobileMenu");
  }

  btnOpen.addEventListener("click", openMobileMenu);
  btnClose.addEventListener("click", closeMobileMenu);

  //menu animation
</script>

<script
  type="module"
  src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"
>
  ScrollReveal().reveal(".header-menu-item", {
    duration: 2000,
  });
</script>
