---
import React from "react";
import PropTypes from "prop-types";
import { Image } from "astro:assets";
import { urlForImage } from "../lib/urlForImage";
import { getAllsliderImages } from "../lib/api";
import Swiper from "swiper";
import {
  Navigation,
  Pagination,
  Autoplay,
  KayboardNavigation,
} from "swiper/modules";

import "swiper/css";
import "swiper/css/autoplay";
import "swiper/css/controller";
import "swiper/css/effect-fade";

const headerImages = await getAllsliderImages();

---

<div class="swiper-container">
     
     {
          const swiper = new Swiper(".swiper-container", {
               
          })

          const swiper = document.querySelector('.swiper-container').swiper;



          headerImages.map((headerImage) => {
               return (
                    <div>
                         <Image
                         src={urlForImage(headerImage.imageUrl).url()}
                         alt={headerImage}
                         width={500}
                         height={500}
                         class='header-image'
                         format="webp"
                         quality={100}
                         />
                         </div>
                         );
                    })
               }

</div>

<style>
     .swiper-container {
          height: 500px;
          width:100%;
          display:flex;
          justify-content: center;
          align-items: center;
          margin-bottom:1rem;
     }

</style>
     