---
import { urlForImage } from "../lib/urlForImage";
import { getAllsliderImages } from "../lib/api";
// import {Picture} from 'astro:assets'
import { Image } from "@unpic/astro";
const headerImages = await getAllsliderImages();
---

<link rel="stylesheet" href="../../src/dist/css/splide.min.css" />
<script>
  import Splide from "@splidejs/splide";
  import { MyTransition } from "../lib/Fade";

  new Splide(".splide").mount({}, MyTransition);

  document.addEventListener("DOMContentLoaded", function () {
    let mainSplide = new Splide(".splide", {
      type: "fade",
      autoplay: true,
      duration: 1000,
      rewind: true,
      pagination: false,
      arrows: false,
    });

    mainSplide.mount();
  });
</script>

<section
  class="splide"
  aria-label="Splide Basic HTML Example"
  aria-labelledby="carousel-heading"
>
  <div class="splide__container">
    <div class="splide__track">
      <ul class="splide__list">
        {
          headerImages.map((headerImages) => (
            <li class="splide__slide fade-in">
              <Image
                src={urlForImage(headerImages.image).url()}
                placeholder="blurred"
                class="splide__image"
                alt="home-project-image"
                height={1200}
                width={1200}
                priority
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in {
    /* Initial opacity for all slides */
    animation: fadeIn 0.5s ease-in-out;
  }

  .splide {
    width: 100%;
    height: 55rem;
  }

  @media screen and (max-width: 500px) {
    .splide {
      height:24rem;
    }
  }

  .splide__slide {
    opacity: 0.5;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .splide__slide.is-active {
    opacity: 1;
  }

  .splide__slide:first-child {
    opacity: 1;
  }

  .splide__track {
    overflow: hidden;
  }

  .swiper-slid__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

  }

</style>
