---
import MainHead from './MainHead.astro';
interface Props {
     title?: string;
     description?: string;
}


const {
title="Wornock Wood Website",
description="Our wood working blog for the industry"
} = Astro.props as Props;
---


<html lang="en">``
     <MainHead {title} {description}></MainHead>
<head>
     <meta charset="UTF-8">
     <link rel="icon" type="image/svg" href="/favicon.svg" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="viewport" content="width=device-width" />
     <meta name="generator" content={Astro.generator}>
<title>{title}</title>
</head>
<body>
     <slot>


     </slot>
     
</body>
</html>